[submodule ".\\vendor\\libffi-rs"]
	path = .\\vendor\\libffi-rs
	url = https://github.com/r0nsha/libffi-rs
[submodule ".\\vendor\\inkwell"]
	path = .\\vendor\\inkwell
	url = https://github.com/r0nsha/inkwell
